@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
	min-height: 100dvh;
	overscroll-behavior: none;
	touch-action: manipulation;
	font-family: "Helvetica", "Arial", sans-serif;
}

* {
	scrollbar-width: thin;
	scrollbar-color: #646464 #e4e4e7;
}
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-thumb {
	background: #646464;
}
::-webkit-scrollbar-track {
	background: #e4e4e7;
}

@view-transition {
	navigation: auto;
}

.visible {
	visibility: visible;
	opacity: 1;
	transition: opacity 1s linear;
}

.hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 1s, opacity 1s linear;
}

.fade_in {
	animation: fadeIn 0.5s ease-in-out;
}

.fade_in_slow {
	animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade_out {
	animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.dialog-backdrop {
	opacity: 0;
	transition: opacity 0.3s ease;
}

.dialog-enter-active {
	opacity: 1;
}

.dialog-exit-active {
	opacity: 0;
}

.accordion-content {
	transition: max-height 0.3s ease, opacity 0.3s ease;
}

.accordion-header span {
	transition: transform 0.3s ease;
}
